
<div>      
<% status = POpen4::popen4( "ps -f -p #{@x}") do |stdout, stderr, stdin| %>  	
  <table border='border'>
    <tr>
      <th>Description:</th>
    </tr>
<%  stdout.each do |line| %>
<% x=line.split %>
     <tr>
	  <% x.each do |val| %>
      <td><%= val %></td>
      <% end %>
     </tr>
<% end %>
    
    
  </table>
<% end %>
<br/>
<br/>
<p align="right"><%= link_to("Back", {:action => 'list'}) %>&nbsp;&nbsp;&nbsp;</p>

</div>
