<!DOCTYPE html>
<html>
<head>
  <title>Cpuapp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h3 align="center"> Web App on Process querying  </h3>

<%= yield %>

</body>
</html>
